$bg-blue-hover: rgb(222, 222, 255);
$bg-lila-clarito-selected: #ead1ff;
$hover-amarillo: #fff9de;
$hover-lila: #f6ebff;

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  //estilos para que el tenga transición
  transition: all 0.5s ease;
  //estilos para ocultar el nav
  transform: translateX(-100%);
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.3s ease;
  img {
    width: 30%;
  }
  &:hover {
    background-color: #f6ebff;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}
//estilos para el scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-tumb {
  background-color: rgba(155, 155, 155, 0.5) !important;
  border-radius: 20px !important;
  border: transparent !important;
}

.selected {
  background-color: #ead1ff;
}
//enseñar el nav
.active-library {
  transform: translateX(0%);
  opacity: 1;
}

//responsives
@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
